<template name="header">
    <div class="row">
        <div class="col s12 m12">
            <div class="card blue-grey darken-1 center">
                <div class="card-content white-text">
                    <span class="card-title">App Wall</span>
                    <p> This is a mini blog for app academy students.</p>
                </div>
                <div class="card-action">
                    <p>{{> loginButtons}}</p>
                    <h2>.</h2>
                    <h2>.</h2>
                    <h2>.</h2>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="form">
    {{#if currentUser}}
    <form class="add-new-post">
        <input type="file" />
        <br />
        <p>Name</p>
        <input type="text" />
        <p>Message</p>
        <input type="text" />
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        </button>
    </form>
    {{/if}}
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            <div class="row">
                <div class="col s12 m7">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{imageIs this.imageId}}" />
                        </div>
                        <div class="card-content">
                            {{updateMasonry}} {{this.message}}
                        </div>
                        <div class="card-action">
                            {{this.name}}
                            <br /> {{this.createdAt}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</template>