.center {
text-align: center;
}


.grid-sizer, .grid-item {
    width: 32%;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

body {
   background-color: cornflowerblue; 
}

.black {
  color: black;   
}